<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="2022.10.9390" targetFramework="net472" />
  <package id="IronOcr.Languages.Chinese" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.ChineseTraditional" version="4.4.4.1" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.11.0" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.11.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="Tesseract" version="4.1.1" targetFramework="net472" />
</packages>